In [1]:
import pandas as pd

In [3]:
house_data=pd.read_csv("data.csv")
house_data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [4]:
house_data = house_data[['price', 'bedrooms','bathrooms', 'sqft_living', 'floors']]
house_data.head()

       price  bedrooms  bathrooms  sqft_living  floors
0   313000.0       3.0       1.50         1340     1.5
1  2384000.0       5.0       2.50         3650     2.0
2   342000.0       3.0       2.00         1930     1.0
3   420000.0       3.0       2.25         2000     1.0
4   550000.0       4.0       2.50         1940     1.0

In [5]:
cutoff = int(len(house_data) * 0.8)  # 4600 * 0.8

house_data_train = house_data[:cutoff]


house_data_test = house_data[cutoff:]

In [6]:
X_train = house_data_train[['bedrooms', 'bathrooms', 'sqft_living', 'floors']]
X_test = house_data_test[['bedrooms', 'bathrooms', 'sqft_living', 'floors']]

# our output
y_train = house_data_train['price']
y_test = house_data_test['price']

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression()

In [8]:
m = model.coef_
m

array([-56934.93816879,  -4776.2598726 ,    308.29140292,  11918.15514199])

In [10]:
c = model.intercept_
c

82513.85248330573

In [11]:
equation = ""
for i, column in enumerate(X_train.columns):
    equation = f"({m[i]} x {column})" + " + " + equation

equation = equation + f"{c}"

print("Our Equation is : \n", equation)

Our Equation is :
 (11918.155141992474 x floors) + (308.29140292171934 x sqft_living) + (-4776.259872596194 x bathrooms) + (-56934.93816879251 x bedrooms) + 82513.85248330573

In [12]:
y_pred = model.predict(X_test)

In [13]:
print(f"True price is: {list(y_test)[1]} a predicted price is {y_pred[1]}")
print(f"True price is: {list(y_test)[2]} a predicted price is {y_pred[2]}")
print(f"True price is: {list(y_test)[3]} a predicted price is {y_pred[3]}")

True price is: 570000.0 a predicted price is 496745.42489577783
True price is: 1309500.0 a predicted price is 680972.5650988455
True price is: 544000.0 a predicted price is 373710.14684513287

In [14]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

baseline_mae = mean_absolute_error([y_train.mean()] * len(y_train), y_train)

pred_mae = mean_absolute_error(y_test, y_pred)
pred_mse = mean_squared_error(y_test, y_pred)
pred_mae = mean_absolute_error(y_test, y_pred)

print(f'baseline {baseline_mae}')
print(f'baseline {pred_mae}')
print(f'baseline {pred_mse}')

baseline 233905.64322675447
baseline 263831.6679035604
baseline 1035772078937.7113